body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.weather-cards {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.weather-card {
  width: 45%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.day-card {
  background-color: white;
}

.night-card {
  background-color: black;
}

.weather-icon {
  width: 274px;
  height: 274px;
}

.temperature {
  font-size: 2rem;
}

.description {
  font-size: 1.2rem;
  font-weight: bold;
}

.cities-list {
  padding: 20px;
}

.search-bar {
  font-size: 32px;
  border-radius: 20px;
}

  